
.flex{
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
  flex-direction: row;
  gap: 20px;

}

.item{
  border: solid;
  border-color: #000101;
  margin: 20px;
  padding: 30px;
}


.transition-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
  }

  .transition-button:hover {
    background-color: #2ecc71;

  }

  /* Text Color Change */
  .transition-text {
    font-size: 20px;
    color: #555;
    font-family: fantasy;
    transition-property: color, font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .transition-text:hover {
    color: #e74c3c;
    font-size: 30px;
  }

  /* Shape Transformation */
  .transition-box {
    width: 100px;
    height: 100px;
    background-color: #9b59b6;
    margin: 20px;
    transition-property: transform, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .transition-box:hover {
    transform: scale(1.5) rotate(45deg);
    background-color: #f1c40f;
  }

  /* Combined Transitions */
  .fancy-button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition-property: transform, background-color, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .fancy-button:hover {
    transform: translateY(-10px) scale(1.1);
    background-color: #e67e22;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  /* Text Expand and Shrink */
  .expand-text {
    font-size: 40px;
    letter-spacing: 1px;
    color: #34495e;
    transition-property: letter-spacing, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .expand-text:hover {
    letter-spacing: 20px;
    color: #0fdc00;
  }

  /* Interactive */

  .interactive-button {
    padding: 15px 25px;
    font-size: 18px;
    background-color: #000101;
    color: white;
    cursor: pointer;
    transition-property: background-color, transform, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  /* Hover State */
  .interactive-button:hover {
    background-color: #16a085;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }

  /* Click State */
  .interactive-button:active {
    background-color: #0e6655;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

